*{
    text-align: center;
}

html{
    background-color:blanchedalmond;
    font-size: 16px;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body{
    width: 640px;
    margin: auto;
}

h1{
    font-size: 42px;
    color:  green;
}

h3{
    font-size: 32px;
}

img{
    border-radius: 100px;
}

p{
    font-size: 1.25rem;
}